.root {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
