.root {
  display: flex;
  flex-direction: column;
  max-width: min(1200px, 95%);
  margin: 20px auto;
  min-height: calc(100vh - 60px);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 10px;
}
